<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Android抓包教程</title>
</head>
<body>
<h1>Android抓包教程</h1>
<h2>1. 下载安装Packet Capture.</h2>
<a href="{{url_for('static',filename='apk/PacketCapture_V1.4.7.apk')}}"></a>
<h2>2. 安装后首次打开时候选择安装证书</h2>
<img src="{{url_for('static',filename='images/and1.jpg')}}"><br>
<img src="{{url_for('static',filename='images/and2.jpg')}}"><br>
<h2>3. 成功安装证书后点击右上角的单个应用抓包按钮，然后选择微信进行抓包。</h2>
<img src="{{url_for('static',filename='images/and3.jpg')}}">
<img src="{{url_for('static',filename='images/and4.jpg')}}"><br>
<h2>4. 打开别人的加油链接并点击“帮我加油”。</h2>
<img src="{{url_for('static',filename='images/and5.jpg')}}"><br>
<img src="{{url_for('static',filename='images/and6.jpg')}}"><br>
<h2>5. 停止抓包，在抓包的列表中找到有ssl标识的数据包，并找到有enjoy表示的数据包进行复制。</h2>
<img src="{{url_for('static',filename='images/and7.jpg')}}"><br>
<img src="{{url_for('static',filename='images/and8.jpg')}}"><br>
<h2>6. 复制到网站进行提交。</h2>
</body>
</html>