<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iPhone抓包方法</title>
</head>
<h1>iPhone抓包方法</h1>
<h2>1. App store 搜索 Stream，下载安装</h2>
<h2>2. 打开 stream，点击开始抓包，allow----去安装证书----点击全装 CA 证书</h2>
<h2>3. 通用---关于本机---证书信任设置---steam Generated CA----开启（这一步千万不要漏）</h2>
<h2>4. 打开 stream，点击我已经信任</h2>
<h2>5. 打开抓包历史---清空抓包历史</h2>
<h2>6. 随便点开一个别人的助力链接，进入到这个页面，然后打开 stream 开始抓包----点击帮我加油----关闭抓包</h2>
<h2>7. 打开抓包历史，一个个点开包，点进去后---点击请求，找到 enjoy 结尾的包</h2>
<img src="{{url_for('static',filename='images/jiayou.jpg')}}"><br>
<img src="{{url_for('static',filename='images/ipcat.jpg')}}">
<body>

</body>
</html>